h3 {
  color: rgba(255, 255, 255, 0.9);
  padding: 4px 8px;
  font-size: 1.3em;
  margin-top: 15px;
  font-weight: 500;
  border-radius: 1px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}

div:first-of-type h3 {
  margin-top: 0px;
}

span {
  display: block;
  font-size: 1.1em;
  padding-top: 5px;
}

span:first-of-type {
  padding-top: 0;
}
